fastapi>=0.68.1
gunicorn>=20.1.0
uvicorn>=0.15.0
httpx>=0.21.0
requests>=2.26.0
annotated-types>=0.4.0
pydantic-core>=2.14.5 
typing-extensions>=4.6.1 
psycopg2>=2.9.1
requests_toolbelt>=0.9.1

databases[postgresql]>=0.6.2
asyncpg>=0.24.0
pydantic>=1.8.3
xmltodict>=0.10.0

python-multipart>=0.0.5

newrelic
python-dotenv==0.19.1
simple-salesforce==1.12.5

Jinja2
xhtml2pdf
reportlab
html5lib>=1.1
APScheduler>=3.10,<4.0
